<h1 class="heading"> {{username}} </h1>

<img class="profileImage" src="{{profileImage}}" alt="profile picture">

<div class="main">
    <a href="/editprofile">Edit</a>
    <p class="age">{{age}}</p>
    <a href="/settings">Settings</a>
</div>
<p class= "softCursive">"{{aboutMe}}"</p>

<form action="/insert" method="POST">
<button type="submit"></button>
</form>